.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: burlywood;
  font-weight: bolder;
  margin-bottom: 50px;
  color: mediumblue;
  font-family: "fink heavy" "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
